<div class="panel panel-primary">
    <div class="panel-heading">
      <h2>Booking List</h2>
    </div>
    <div class="panel-body">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Contact Number</th>
            <th>Source</th>
            <th>Destination</th>
            <th>Date of Visit</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let booking of bookings | async">
            <td>{{booking.firstName}}</td>
            <td>{{booking.lastName}}</td>
            <td>{{booking.phone}}</td>
            <td>{{booking.source}}</td>
            <td>{{booking.destination}}</td>
            <td>{{booking.date}}</td>
            <td><button (click)="deleteBooking(booking.id)" class="button button-primary">Delete</button>
                <button (click)="updateBooking(booking.id)" class="button button-secondary" style="margin-left: 10px">Update Details</button>
                <button (click)="bookingDetails(booking.id)" class="button button-secondary" style="margin-left: 10px">Ticket Details</button>
            </td>
          </tr>
        </tbody>
      </table>

    </div>

</div>